{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>Django</title>
</head>
<body>
<nav>
<ul>
    <li><a href="{% url 'index' %}">create Posts</a></li>
    <li><a href="{% url 'index' %}">About us</a></li>
    <li><a href="{% url 'index' %}">Services</a></li>
    <li><a href="{% url 'index' %}">contact us</a></li>
    <li><a href="{% url 'index' %}">Home</a></li>
</ul>
</nav>
<header>

</header>
</body>
</html>