{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>Django</title>
</head>
<style>
    table, th, td{
        border: 1px solid black;
    }
</style>
<body>
<nav>
<ul>
    <li><a href="{% url 'show' %}">create Posts</a></li>
    <li><a href="{% url 'index' %}">About us</a></li>
    <li><a href="{% url 'index' %}">Services</a></li>
    <li><a href="{% url 'index' %}">contact us</a></li>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li style="float: left" >
    <form action="{% url 'search' %}">
        {% csrf_token %}
            <input name="search" placeholder="Title">
        <button class="btn btn-outline-success" type="submit" >Search</button>
    </form>
    </li>
</ul>
</nav>
<header>
{% for d in data %}
    <table>
    <thead>
        <tr>
            <th>Count</th>
            <th>Title</th>
            <th>Category</th>
            <th>Body</th>
            <th>Time</th>
        </tr>
    </thead>
        <tbody>
        <tr>
            <th>{{ d.id }}</th>
            <td>{{ d.title }}</td>
            <td>{{ d.category.name }}</td>
            <td>{{ d.body }}</td>
            <td>{{ d.created_at }}</td>
            <td><a class="btn btn-primary" role="button" href="{% url 'showEdit' d.id %}">Edit</a></td>
            <td><a class="btn btn-danger" onclick="return confirm('Are You Sure To Delete ?')" href="{% url 'delete' d.id %}" role="button">Delete</a></td>
        </tr>
    </tbody>
    </table>
{% endfor %}
{{ data2 }}
    {% block body %} {% endblock %}
</header>
</body>
</html>