ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #000000;
}

li {
  float: right;
}

li a {
  display: block;
   color: white;
   text-align: center;
   padding: 12px 14px;
    text-decoration: none;
}
li a:hover{
    background-color: green;
}
html,body{
    background-color: lightblue;

}